#create-account-section-wrapper {
    display: grid;
    width: 55rem;
    height: 38rem;
    text-align: center;
    background: rgba(225, 215, 197, 0.6);
    border-radius: 1rem;
    /*margin-top: 13.5rem;*/
}

#titre-creer-compte {
    font-family: "EB Garamond", Serif;
    font-size: 2rem;
    margin-top: 2rem;
}

#create-account-form {
    display: grid;
    width: 42.9rem;
    height: 18.6rem;
    margin: auto;
    align-items: center;
}

#create-account-form label {
    font-size: 1.3rem;
    font-family: "Libre Baskerville", Serif;
}
#create-account-form input {
    font-size: 1.3rem;
    font-family: "Libre Baskerville", Serif;
}

#create-account-form div {
    text-align: left;
}

#lien-vers-accueil-create-account {
    font-family: "Libre Baskerville", Serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    width: 14rem;
    text-align: center;
    margin: auto;
    height: 2rem;
}

#lien-vers-accueil-create-account:hover {
    border-bottom: 0.1rem solid black;
}

.create-account-input-form {
    border: 0;
    background: rgba(225, 215, 197, 0);
    border-bottom: 0.1rem solid black;
}

#create-account-pseudo {
    width: 80%;
}

#create-account-email {
    width: 83%;
}

#create-account-password {
    width: 69%;
}

#create-account-submit {
    font-family: "Libre Baskerville", Serif;
    text-align: center;
    width: 13rem;
    padding: 0.6rem;
    font-size: 1.3rem;
    border-radius: 2rem;
    background-color: #430f10;
    color: #e1d7c5;
    cursor: pointer;
}
#create-account-submit:hover{
    background-color: #062213;
}
#create-account-submit-div {
    text-align: right !important;
}