
/*-------TEST--------*/
/*  BACKGROUNG ZONE  */
/*-------------------*/

.grey {background-color: rgba(128, 128, 128, .5);}
.red {background-color: rgba(255, 0, 0, .5);}
.yellow {background-color: rgba(255, 255, 0, .5);}
.purple {background-color: rgba(128, 0, 128, .5);color:white;}
.brown {background-color: rgba(165, 42, 42, .5);}
.blue {background-color: rgba(0, 0, 255, .5);color:white;}
.cyan {background-color: rgba(0, 255, 255, .5);color:white;}




/*-------------------*/
/*   Global Style    */
/*-------------------*/



/*-------------------*/
/*  Init Container   */
/*-------------------*/
/*  Grid & Position  */
/*-------------------*/


/* Container & Grid principal */
.gameContainer
{
    background-color: green;

    position: relative;

    margin: 1vh 1vw;
    height: 97vh;
    width: 98vw;
    border: .2rem double gray;
    border-radius: 1rem;
}
.gameWrapper
{
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: .5rem;
}


/* Container & Grid secondaire */
.leftContainer
{
    grid-column: 1 / span 3;
    grid-row: 1;
}
.middleContainer
{
    grid-column: 4 / span 14;
    grid-row: 1;
}
.rightContainer
{
    grid-column: 18 / span 3;
    grid-row: 1;
}

.leftWrapper, .rightWrapper
{
    height: 100%;

    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: .5rem;
}
.middleWrapper
{
    height: 100%;

    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-gap: .5rem;
}


/* container "zone de jeu" : pioche, defausse, deck, plateau */
.secondDraw, .secondHeros
{
    grid-column: 3 / span 6;
    grid-row: 3 / span 4;
}
.firstDraw, .firstHeros
{
    grid-column: 3 / span 6;
    grid-row: 10 / span 4;
}

.firstPlayerDeck
{
    grid-column: 1 / span 20;
    grid-row: 1 / span 3;
}
.secondPlayerDeck
{
    grid-column: 1 / span 20;
    grid-row: 13 / span 3;

    /* placement des carte en main */
    display: flex;
}

/* Plateau de jeu */
.board-container
{
    grid-column: 1 / span 20;
    grid-row: 4 / span 9;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-gap: .5rem;
}
.board-top, .board-bottom
{
    display: flex;
}
.board-top
{
    grid-column: 1 / span 20;
    grid-row: 1 / span 4;
}
.board-bottom
{
    grid-column: 1 / span 20;
    grid-row: 6 / span 4;
}
.boardGame-link
{
    grid-column: 1 / span 20;
    grid-row: 4 / span 9;
}


.button-end-tour{
    grid-column: 1 / span 4;
    grid-row: 8 / span 1;
    border: 1px solid black;
    border-radius: 100px;
    background-color: red;
    line-height: 3rem;
}
.hero-opponent{
    grid-column: 10 / span 3;
    grid-row: 2 / span 3;
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 50%;
}
.hero-player{
    grid-column: 10 / span 3;
    grid-row: 11 / span 3;
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 50%;
}


/* defini le container de la pioche */
/* .drawContainer, .discardedContainer
{
    position: relative;

    perspective: 5000px;
    perspective-origin: center;
} */








/*-------------------*/
/*  Init Card Class  */
/*-------------------*/
/* Global card Style */
/*-------------------*/


/* card = style general des cartes */
.card
{
    border: .2rem solid lightgray;
    display: inline-block;
    height: 11.5rem;
    width: 7rem;
    margin: .1rem;
    border-radius: .8rem;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .23);
    /* transition: .1s ease-in-out; */
    background-color: #6d695c;
    text-align: left;
}

/* back = carte dans la pioche */
.back
{
    color: white;

    height: 11.5rem;
    width: 13rem;

    z-index: 1;
    background-color: black;

    /* decale les carte afin qu'elle se superpositionne */
    margin: 2rem -3.8rem -14rem -9.11rem;

    display: inline-block;

    transform-origin: right;
    transform: rotateY(60deg);
}









/*-------------------*/
/*  Backgroung Card  */
/*-------------------*/
.bg-card-un
{
    background-image: url('../assets/img/GOT-Arya_HoundCard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}
.bg-card-deux
{
    background-image: url('../assets/img/GOT-CerseiCard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}
.bg-card-trois
{
    background-image: url('../assets/img/GOT-DaenerysCard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}
.bg-card-quatre
{
    background-image: url('../assets/img/GOT-JonCard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}
.bg-card-cinq
{
    background-image: url('../assets/img/GOT-Brienne_TormundCard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}
