/*
ANIMATION HEADER IMAGE EN BAS DU FICHIER
*/
@font-face {
    /*medium*/
    font-family: "EB Garamond";
    src: url("../fonts/EB_Garamond/EBGaramond-Medium.ttf");
}
@font-face {
    /*italic*/
    font-family: "Libre Baskerville";
    src: url("../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
    font-style: italic;
}
@font-face {
    /*medium*/
    font-family: "Libre Baskerville";
    src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}
@font-face {
    /*bold*/
    font-family: "Libre Baskerville";
    src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Nueva";
    src: url("../fonts/nueva/Nueva-Std-Bold-Extended_33269.ttf");
    font-weight: bold;
}

#general-container {
    height: 100%;
}

#general-container-wrapper header {
    height: 15rem;
    background-color: #430f10;
    grid-column: 1 / span 20;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#general-container-wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

#message-info{
    position: absolute;
    width: 100%;
    top: 0;
    font-family: "Libre Baskerville", Serif;
    font-size: 1.5rem;
    background-color: #b49c83;
    /*color: #ff000d;*/
    color: green;
    text-align: center;
    line-height: 5rem;
    font-weight: bold;
    transition-delay: 3s;
}

footer {
    height: 6rem;
    grid-column: 1 / span 20;
    background-color: #430f10;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div {
    display: flex;
    margin: auto;
    align-items: center;
}

footer p {
    font-family: 'Libre Baskerville regular', serif;
    color: #f8e9c9;
    font-size: 1rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px rgba(225, 215, 197, 1) inset;
}

/* 
------------------------------
ANIMATION DE SUR LA SECTION
------------------------------ 
*/
section {
    grid-column: 1 / span 20;
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
section.is-ready{
opacity: 1;
transition-duration: 2s;
}


/*ANIMATION IMAGE DU HEADER*/

.header-img-none{
    opacity: 0;
}
.header-img-display{
    transition: 2s;
    opacity: 1;
}

/*FIN ANIMATION HEADER*/
