#grinoire-section-wrapper {
    display: grid;
    justify-content: center;
    margin: auto;
    width: 67rem;
    margin-top: 14rem;
}

#grinoire-section-wrapper img {
    z-index: 100;
}

#grinoire-liens {
    border: 1px solid black;
    display: grid;
    background: rgba(240, 226, 207, 0.6);
    position: relative;
    top: -21.5rem;
    height: 8.2rem;
    width: 95%;
    margin: auto;
}

#grinoire-liens-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#img-cerlce-deco{
    left: -11.3rem;
    position: relative;
}
#img-cercle-jouer{
    left: -11rem;
    position: relative;
}
#img-cercle-profil{
    left: -7rem;
    position: relative;
}
#grinoire-liens-wrapper a {
    font-family: "Libre Baskerville regular", Serif;
    text-decoration: none;
    color: black;
    z-index: 150;
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
}


#grinoire-texte {
    font-family: "Libre Baskerville", Serif;
    font-style: italic;
    font-weight: 200;
    border-top: 0.1rem solid black;
    border-bottom: 1px solid black;
    text-align: center;
    position: relative;
    top: -12.5rem;
    width: 41rem;
    margin: auto;
    line-height: 4rem;
    font-size: 2.5rem;
}

#grinoire-jouer{
    font-size: 3rem;
}
#grinoire-deconnexion{
    font-size: 1.8rem;
}
#grinoire-profil{
    font-size: 1.8rem;
}