#home-section-wrapper {
    display: grid;
    text-align: center;
}

#home-div-container { /*le papa a grid-template-row c donc ici que je manipule les grid-row*/
    text-align: center;
    width: 40rem;
    margin: auto;
    margin-top: 6rem;
}

#home-div-container img {
    margin-top: 5rem;
}

#home-div-container p {
    font-size: 3.5rem;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

#home-lien {
    display: grid;
    position: relative;
}

#home-lien a {
    font-family: 'EB Garamond', serif;
    font-size: 1.7rem;
    text-decoration: none;
    margin: auto;
    position: relative;
    background-color: #430f10;
    border-radius: 0.5rem;
    color: #f8e9c9;
}
#home-lien a:hover{
    background-color: #062213;
}

#home-lien a:nth-child(1) {
    width: 18rem;
    margin-top: -20.5rem;
    padding: 0.3rem;
}

#home-lien a:nth-child(2) {
    width: 15.5rem;
    margin-top: -14rem;
    padding: 0.3rem;
}