#login-section-wrapper {
    display: grid;
    width: 55rem;
    height: 35rem;
    text-align: center;
    background: rgba(225, 215, 197, 0.6);
    border-radius: 1rem;
}
#titre-se-connecter{
    font-family: 'EB Garamond', Serif;
    margin-top: 2rem;
    font-size: 2rem;
}
#login-form {
    display: grid;
    width: 43rem;
    height: 18.6rem;
    margin: auto;
    align-items: center;
}

#login-form label {
    font-size: 1.3rem;
    font-family: 'Libre Baskerville', Serif;
}
#login-form input{
    font-size: 1.3rem;
    font-family: 'Libre Baskerville', Serif;
}

#login-form div {
    text-align: left;
}

.login-form-input {
    border: 0;
    background: rgba(225, 215, 197, 0);
    border-bottom: 1px solid black;
}

#login-form-submit {
    text-align: center;
    width: 13rem;
    border-radius: 2rem;
    background-color: #430f10;
    color: #e1d7c5;
    font-family: 'Libre Baskerville', Serif;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.6rem;
}
#login-form-submit:hover{
    background-color: #062213;
}

#login-form-div-submit {
    text-align: right !important;
}
#login-form-email{
    width: 68%;
}
#login-form-password{
    width: 70%;
}

#login-lien-vers-accueil{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    margin: auto;
    width: 14rem;
    height: 2rem;
    text-align: center;
    font-family: 'Libre Baskerville', Serif;
    margin-bottom: 2rem;
}
#login-lien-vers-accueil:hover{
    border-bottom: 1px solid black;
}

#login-span{
    height: 2rem;
    color: red;
    text-shadow: 0px 1px 0px grey;
    font-size: 1.7rem;
    font-variant: all-small-caps;
}