#profil-section-wrapper {
    width: 60rem;
    height: 50rem;
    font-family: "Libre Baskerville", Serif;
    background: rgba(225, 215, 197, 0.6);
    border-radius: 1rem;
    display: grid;
}
#profil-form-container{
    width: 40rem;
    height: 27rem;
    margin: auto;
    top: -6.8rem;
    display: grid;
    position: relative;
}

#profil-form {
    position: relative;
    top: -28.4rem;
    display: grid;
    font-size: 1.6rem;
}
#profil-form label{
}
#profil-form input{
    font-family: "Libre Baskerville", Serif;
    font-weight: bold;
    font-size: 1.6rem;
}
/*La div qui englobe le label + input de l'avatar*/
.avatar-img {
    margin: auto;
    width: 15rem;
    position: relative;
    top: -13rem;
    z-index: 500;
}
/*l'image de l'avatar*/
.avatar{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    position: relative;
    top: -28.9rem;
    left: 12.3rem;
    z-index: 0;
}
.avatar-img label {
    width: 12rem;
    height: 17rem;
    display: block;
}

#profil-contour-avatar {
    margin: auto;
    top: -22.5rem;
    position: relative;
    z-index: 100;
}

.profil-avatar {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}
.label-file {
    color: red;
}

.label-file:hover {
    cursor: pointer;
}

.input-file {
    display: none;
}
.input-profil{
    border: 0;
    background: rgba(225, 215, 197, 0);
    border-bottom: 0.1rem solid black;
}
#profil-submit{
    text-align: center;
    width: 13rem;
    border-radius: 2rem;
    background-color: #430f10;
    color: #e1d7c5;
    margin: auto;
    padding: 0.2rem;
    position: relative;
    top: -12rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-family: "Libre Baskerville", Serif;
}
#profil-submit:hover{
    background-color: #062213;
    color: white;
}

#profil-lien-vers-accueil{
    font-size: 1.6rem;
    position: relative;
    top: -30rem;
    margin: auto;
    width: 14rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    color: black;
}
#profil-lien-vers-accueil:hover{
    border-bottom: 1px solid black;
    width: 14rem;
}
#profil-input-text-container{
    position: relative;
    top: -6.1rem;
}
#profil-input-text-container div{
    padding-top: 0.7rem;
}

#profil-statistique-joueur{
    display: grid;
    position: relative;
    top: -8rem;
    font-size: 1.6rem;
}
#profil-statistique-joueur span{
    padding-top: 0.7rem;
}
#profil-input-login{
    width: 76%;
}
#profil-input-nom{
    width: 80%;
}
#profil-input-prenom{
    width: 74%;
}
#profil-input-email{
    width: 78%;
}
#profil-input-password{
    width: 64%;
}
#profil-pseudo-baniere{
    width: 9.6rem;
    font-size: 1.7rem;
    font-family: "Libre Baskerville", Serif;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    position: relative;
    top: -11.2rem;
    left: 25.4rem;
    z-index: 500;
}
#profilSpanMessage{
    color: red;
    text-align: center;
    position: relative;
    top: -1rem;
    height: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.profilSpanMessage{
    color: red;
    text-align: center;
    position: relative;
    top: -1rem;
    height: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
#profilErreurMessage{
    font-size: 1.5rem;
}
#profilMessageValid{
    font-size: 1.5rem;
}