/* section de selection du deck */
#selectDeck-section-wrapper {
    width: 90vw;
    height: 80%;
    margin: 0 auto;
}

/* Titre de la page */
#selectDeck-section-wrapper h1 {
    text-align: center;
    font-family: "Libre Baskerville", Serif;
    font-weight: 200;
    font-size: 2.4rem;
    margin-bottom: 10%;
}
#selectDeck-section-wrapper h1 span {
    font-size: 3.4rem;
}


/* container choix du deck */
#selectDeck-img-hero {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

/* container pour chaque deck proposé */
#selectDeck-container {
    position: relative;
}

/* input submit */
#selectDeck-input {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Formulaire selection du deck */
form.select-deck {
    height: 100%;
    width: 100%;
    border-radius: 10%;


    display: inline-block;

    position: absolute;
    top: 0;
    left: 0;
}

/* Selection cartes */
form.deck-selection-card {
    grid-column: 7 / span 8;
    text-align: center;
    margin-top: 5rem;
}
form input.deck-select-card-submit {
    display: block;
    margin: 5rem auto;
}

#selectDeck-lien-vers-accueil {
    display: grid;
    width: 15rem;
    height: 2rem;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    color: black;
    font-size: 1.8rem;
    position: relative;
    text-decoration: none;
}

#selectDeck-lien-vers-accueil:hover {
    border-bottom: 1px solid black;
    width: 13rem;
}
