#selectDeck-section-wrapper h1 {
    text-align: center;
    font-family: "Libre Baskerville", Serif;
    font-weight: 200;
    font-size: 2.4rem;
    position: relative;
    top: 5rem;
}

#selectDeck-section-wrapper h1 span {
    font-size: 3.4rem;
}
#selectDeck-section-wrapper img{
    transition: all ease 2s;
}
#selectDeck-img-hero {
    position: relative;
    top: 18rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*Div qui permet d'espacer les images des héros*/
#selectDeck-div-bateau {
    width: 18rem;
}

#selectDeck-chapelier {
    position: relative;
    width: 19.2rem;
    height: 16.7rem;
    border-radius: 100%;
    top: -21.7rem;
    left: 0.8rem;
    opacity: 0;
}

#selectDeck-chapelier:hover {
    cursor: pointer;
}

#selectDeck-gandalf {
    position: relative;
    width: 19.2rem;
    height: 16.7rem;
    border-radius: 100%;
    top: -21.7rem;
    left: 0.8rem;
    opacity: 0;
}

#selectDeck-gandalf:hover {
    cursor: pointer;
}

#selectDeck-lien-vers-accueil {
    display: grid;
    width: 15rem;
    height: 2rem;
    margin: auto;
    text-align: center;
    color: black;
    font-size: 1.8rem;
    position: relative;
    text-decoration: none;
}

#selectDeck-lien-vers-accueil:hover {
    border-bottom: 1px solid black;
    width: 13rem;
}